/* CATEGORY PAGE */

.category-box{
    width:100%;
    margin:40px auto;
    background:rgb(202, 238, 232);
    padding:40px;
    border-radius:8px;
}
.price-unit{
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    color: #83afee;
}

.category-box h1{
    text-align:center;
    color:#1677ff;
    margin-bottom:30px;
}


.categories{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}


.categories div{
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    text-align:center;
    padding:20px;
    transition:0.3s;
}


.categories div:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}


.categories img{
    width:200px;
    height:200px;
    object-fit:contain;
}


.categories h3{
    margin-top:15px;
    color:#333;
}


@media(max-width:900px){

.categories{
    grid-template-columns:repeat(2,1fr);
}

}


@media(max-width:600px){

.categories{
    grid-template-columns:1fr;
}

}
