*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background:#f5f7fa;
    color:#333;

  
}
/* HEADER */
header{
    background:whitesmoke;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 50px;
    border-bottom:1px solid #ddd;
}

.search{
    display:flex;
    width:45%;
}
.search input{
    width:100%;
    padding:14px;
    border:2px solid #1677ff;
    border-radius:5px 0 0 5px;
    outline:none;
}

.search button{
    background:#1677ff;
    color:white;
    border:none;
    padding:0 25px;
    cursor:pointer;
}

.account{
    color:#555;

}
.account:hover{
    color: rgb(235, 148, 148);
    cursor: pointer;
}
/* NAVIGATION */

nav{
    background:#1677ff;
    padding:15px 50px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:30px;
    font-size:15px;
}

nav a:hover{
    text-decoration:underline;
}

/* HERO */
.hero{
    height:300px;
    background:
    linear-gradient(rgba(0,80,180,.7),rgba(0,80,180,.7)),
    url("images/banner.jpg");

    background-size:cover;
    background-position:center;
    margin-bottom: 20px;

    color:white;
    text-align:center;
    padding-top:80px;
}

.hero h1{
    font-size:42px;
    margin-bottom:15px;
}
.hero p{
    font-size:18px;
    margin-bottom:25px;
}

.hero button{
    background:white;
    color:#1677ff;
    border:none;
    padding:12px 30px;
    font-size:16px;
    border-radius:5px;
}
/* MAIN */

.container{
    display:flex;
    width:90%;
    margin:30px auto;
    gap:25px;
    
    
}

/* SIDEBAR */

aside ul li{
    cursor:pointer;
    transition:0.3s;
    display:flex;
    align-items:center;
    gap:8px;
    margin-left: 40px;
    line-height: 30px;
}
.categories{
    margin-left: 30px;
}
.featured-Products{
    text-align: center;
    color: white;
}
aside ul li:hover{
    background:#e6f2ff;
    color:#1677ff;
    padding-left:10px;
   
}
/* PRODUCTS */

.products{
    flex:1;
    background-color: #f68a50;
    padding-left: 10px;
    padding-right: 10px;
     padding-bottom: 10px;
}
.product-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}
.card{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    transition:.3s;
}
.card:hover{
    transform:translateY(-5px);
}
.card img{
    width:100%;
    height:180px;
    object-fit:contain;
}
.card h3{
    font-size:16px;
    margin:15px 0;
}
.price{
    font-size:22px;
    font-weight:bold;
    color:#e65100;
}
.card span{
    display:inline-block;
    background:#08a329;
    color:white;
    padding:5px 10px;
    margin:10px 0;
    border-radius:4px;
    font-size:12px;
}
.card button{
    width:100%;
    padding:12px;
    background:#1677ff;
    border:none;
    color:white;
    border-radius:5px;
    cursor:pointer;
}
.card button:hover{
    background:#0056c9;
}
/* SUPPLIER */

.supplier{
    background:white;
    padding:40px;
    text-align:center;
    margin-top:40px;
}
.supplier h2{
    color:#1677ff;
}
.supplier-box{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:30px;
}
.supplier-box div{
    width:250px;
    padding:25px;
    border:1px solid #ddd;
    border-radius:10px;
}

/* FOOTER */
footer{
    background:#002766;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:30px;
    
}
footer h3{
    margin-bottom:10px;
}

/* RESPONSIVE */
@media(max-width:1000px){

.product-grid{
    grid-template-columns:repeat(2,1fr);
}

header{
    flex-direction:column;
    gap:20px;
}

.search{
    width:90%;
}

}

@media(max-width:600px){

.container{
    flex-direction:column;
}

aside{
    width:100%;
}
.product-grid{
    grid-template-columns:1fr;
}

nav{
    text-align:center;
}

}