.header-title{
    background-color: rgb(255, 0, 179);
    color: bisque;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;

}
.logo-home{
    display: flex;
    flex-direction: row;
    align-items: left;
     width: 500px;
     align-items: center;
}

.smart-homebutton{
    width: 500px;
    align-items: center;
}
.Office-title{
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.all-button {
  display: inline-block;
  animation:moveleft 2s linear infinite;
  font-size: 20px;
}

@keyframes moveleft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.box-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.5s;
}

.box-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(76, 0, 255, 0.2);
}
.all-button{
background-color: rgb(219, 219, 219);
width: 250px;
border-radius: 10px;
margin-top: 10px;

}
.photo-1 {
    width: 150px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 8px;
}
.photo-descri {
font-size:14px;
margin-left: 10px;
text-align: center;
margin-right: 8px;
margin-bottom: 15px;
text-align: left;
text-decoration:bisque;
}
.price-unit {
margin-left: 60px;
border-radius: 20px;
margin-bottom: 10px;
width: 120px;
height: 30px;
color: rgb(0, 0, 0);
font-size: 15px;
border-width: 2px;
border-style: solid;
cursor: pointer;
font-weight: bold;
font-size: 13px;

}
.price-unit:hover{
    background-color: rgb(255, 147, 147);
}
