/* WIRELESS KEYBOARD PAGE */

.products-page{
    width:90%;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:10px;
}

.products-page h2{
    color:#1677ff;
    font-size:30px;
    margin-bottom:25px;
}

.products-page .product-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}
.products-page .card{
    background:white;
    border:1px solid #ddd;
    padding:15px;
    border-radius:10px;
    text-align:center;
    transition:0.3s;
}
.products-page .card:hover{
    transform:translateY(-6px);
    box-shadow:0 8px 18px rgba(0,0,0,0.12);
}

.products-page .card img{
    width:100%;
    height:200px;
    object-fit:contain;
}

.products-page .card h3{
    font-size:17px;
    margin:15px 0;
}

.products-page .price{
    font-size:24px;
    font-weight:bold;
    color:#e65100;
}

.products-page .card span{
    display:inline-block;
    background:#1677ff;
    color:white;
    padding:5px 12px;
    border-radius:5px;
    font-size:13px;
    margin:10px 0;
}

.products-page .card button{
    width:100%;
    padding:12px;
    background:#1677ff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.products-page .card button:hover{
    background:#004bb5;
}

/* Mobile view */

@media(max-width:1000px){

.products-page .product-grid{
    grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:600px){

.products-page .product-grid{
    grid-template-columns:1fr;
}

}